{% extends 'base_auth.html.twig' %}

{% block title %}
    <title>{{ 'Log in to system' }}</title>
{% endblock %}

{% block security_content %}
    <div class="mb-2 text-center">
        <a class="btn btn-primary" href="{{ path('homepage') }}">
            {{ 'Back to homepage' }}
        </a>
    </div>
    <div class="mb-2 text-center">
        <a class="btn btn-primary" href="{{ path('register') }}">
            {{ 'Create new account' }}
        </a>
    </div>
    {% if error %}
        <div class="mb-2 mt-3 text-danger text-center">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form class="m-t" role="form" method="post">
        <div class="mb-3">
            <label for="_username" class="form-label">{{ 'Email' }}</label>
            <input class="form-control form-control-lg" type="email" name="_username" id="_username" placeholder="Enter e-mail"/>
        </div>
        <div class="mb-2">
            <label for="_password" class="form-label">{{ 'Password' }}</label>
            <input class="form-control form-control-lg" type="password" name="_password" id="_password"
                   placeholder="Enter password"/>
        </div>

        <div class="mb-3">
            <a href="{{ path('reset_password') }}"> {{ 'Forgot your password?' }} </a>
        </div>

        <div class="mb-3">
            <input type="checkbox" id="remember_me" name="_remember_me" class="i-checks remember-me-checks"/>
            <label for="remember_me" style="padding-left:10px;">{{ 'Remember me!' }}</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-success">{{ 'Log in' }}</button>
    </form>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
{% endblock %}