{% extends 'base_auth.html.twig' %}

{% block title %}
    <title>{{ 'Reset your password' }}</title>
{% endblock %}

{% block security_content %}
    <div class="mb-2 text-center">
        <a class="btn btn-primary" href="{{ path('login') }}">
            {{ 'Back to log in' }}
        </a>
    </div>
    <h2 class="card-title font-weight-bold mb-1">{{ 'Reset password' }}</h2>
    <div class="form-group">
        <form method="post" action="#">
            <input type="email" name="email" class="form-control" placeholder={{ 'Email' }} required autofocus>

            <button class="btn btn-lg btn-success btn-block" type="submit"
                    style="margin-top: 15px">{{ 'Save' }}
            </button>
        </form>
    </div>

{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
{% endblock %}
