{% extends 'base_auth.html.twig' %}

{% block title %}
    <title>{{ 'Log in to system' }}</title>
{% endblock %}

{% block security_content %}
    <div class="mb-2 text-center">
        <a class="btn btn-primary" href="{{ path('homepage') }}">
            {{ 'Back to homepage' }}
        </a>
    </div>
    <div class="mb-2 text-center">
        <a class="btn btn-primary" href="{{ path('register') }}">
            {{ 'Create new account' }}
        </a>
    </div>
    <h2 class="card-title font-weight-bold mb-1">{{ 'Change your password!' }}</h2>
    {{ form_start(form) }}
    {{ form_row(form.password) }}
    <p class="font-weight-bolder">{{ 'Password requirements:' }}</p>
    <ul class="pl-1 ml-1">
        <li class="mb-1">{{ 'Minimum 8 characters!' }}</li>
        <li class="mb-1">{{ 'Your password must contain at least one lowercase letter' }}</li>
        <li class="mb-1">{{ 'At least one uppercase letter' }}</li>
        <li class="mb-1">{{ 'At least one digit' }}</li>
        <li class="mb-1">{{ 'At least one special character' }}</li>
        <li class="mb-1">{{ 'Remember no spaces!' }}</li>
    </ul>
    {{ form_row(form.save) }}

    {{ form_widget(form._token) }}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
{% endblock %}