<script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/js/dataTables.responsive.min.js') }}"></script>

<script>
    $(document).ready(function () {
        table = $('#weaponsList').DataTable({
            responsive: true,
            stateSave: true,
            serverSide: true,
            retrieve: true,
            paginate: true,
            searching: true,
            processing: true,
            ajax: {
                url: "{{ path('weapon_list_data') }}",
                type: 'POST',
                'data': function (d) {
                    return $.extend({}, d, {
                        "weaponType": getCookie('weaponType')[0],
                        "tool": getCookie('tool')[0],
                        "openMap": getCookie('openMap')[0],
                        "superWeapon": getCookie('superWeapon')[0],
                    });
                },
            },
            columns: [
                {
                    "data": "id",
                },
                {
                    "data": "name",
                    'render': function (data) {
                        let html = "";
                        html += "<a href='" + data.detailsUrl +"' target='_blank'>";
                        html += "<img alt='" + data.name + "' src='" + data.image + "' height='40px'>"
                        html += "<span style='margin-left:5px'>" + data.name + "</span></a>"

                        return html;
                    }
                },
                {
                    "data": "baseVersion",
                    'render': function (data) {
                        let html = '';

                        html += "<img alt='" + data.name + "' src='" + data.image + "' height='40px'>"
                        html += "<span style='margin-left:5px'>" + data.name + "</span>"

                        return html;
                    }
                },
                {
                    "data": "minDraw",
                    'render': function (data) {
                        if (data === 10) {
                            return '&#8734;'
                        } else {
                            return data;
                        }
                    }
                },
                {
                    "data": "maxDraw",
                    'render': function (data) {
                        if (data === 10) {
                            return '&#8734;'
                        } else {
                            return data;
                        }
                    }
                },
                {
                    "data": "minDelay",
                },
                {
                    "data": "maxDelay",
                },
                {
                    "data": "type",
                    'render': function (data) {
                        let html = "";

                        if (data === 0) {
                            html += '<span class="btn-primary btn" style="cursor: hand"> {{ 'Regular' }} </span>';
                        } else {
                            html += '<span class="btn-secondary btn" style="cursor: hand"> {{ 'Crafted' }} </span>';
                        }

                        return html;
                    }
                },
                {
                    "data": "isTool",
                    'render': function (data) {
                        let html = "";

                        if (data) {
                            html += '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                        } else {
                            html += '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                        }

                        return html;
                    }
                },
                {
                    "data": "isOpenMapWeapon",
                    'render': function (data) {
                        let html = "";

                        if (data) {
                            html += '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                        } else {
                            html += '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                        }

                        return html;
                    }
                },
                {
                    "data": "isSuperWeapon",
                    'render': function (data) {
                        let html = "";

                        if (data) {
                            html += '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                        } else {
                            html += '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                        }

                        return html;
                    }
                },
                {% if is_granted('ROLE_ADMIN') %}
                {
                    "data": "actions",
                    "sortable": false,
                    'render': function (data) {
                        let html = "";

                        if (data.edit) {
                            html += '<a class="btn-info btn" href=' + data.edit + '> {{ 'Edit' }} </a>';
                        }

                        return html;
                    }
                }
                {% endif %}
            ]
        });
    });
</script>