<script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/js/dataTables.responsive.min.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#weaponLogsList').DataTable({
            responsive: true,
            stateSave: true,
            serverSide: true,
            retrieve: true,
            paginate: true,
            searching: true,
            order: [
                0, 'desc'
            ],
            ajax: {
                url: "{{ path('weapon_logs_data') }}",
                type: 'POST',
                data: {
                    weaponId: '{{ weaponId }}'
                }
            },
            columns: [
                {
                    "data": "id",
                },
                {
                    "data": "username",
                },
                {
                    "data": "weapon",
                    "render": function (data) {
                        let html = "";
                        html += "<a href='" + data.detailsUrl + "'>";
                        html += "<img alt='" + data.name + "' src='" + data.image + "' height='40px'>"
                        html += "<span style='margin-left:5px'>" + data.name + "</span></a>"

                        return html;
                    }
                },
                {
                    "data": "createdAt",
                },
                {
                    "data": "type",
                },
                {
                    "data": "oldValue",
                    "render": function (data) {
                        if (data.type == 'type') {
                            if (data.value == 0) {
                                html = '<span class="btn-primary btn table-button"> {{ 'Regular' }} </span>';
                            } else {
                                html = '<span class="btn-secondary btn table-button"> {{ 'Crafted' }} </span>';
                            }
                        } else if (data.type == 'isTool' || data.type == 'isOpenMapWeapon' || data.type == 'isSuperWeapon') {
                            if (data.value == 1) {
                                html = '<span class="btn-success btn table-button"> {{ 'Yes' }} </span>';
                            } else {
                                html = '<span class="btn-danger btn table-button">{{ 'No' }} </span>';
                            }
                        } else {
                            html = data.value;
                        }

                        return html;
                    }
                },
                {
                    "data": "newValue",
                    "render": function (data) {
                        if (data.type == 'type') {
                            if (data.value == 0) {
                                html = '<span class="btn-primary btn table-button"> {{ 'Regular' }} </span>';
                            } else {
                                html = '<span class="btn-secondary btn table-button"> {{ 'Crafted' }} </span>';
                            }
                        } else if (data.type == 'isTool' || data.type == 'isOpenMapWeapon' || data.type == 'isSuperWeapon') {
                            if (data.value == 1) {
                                html = '<span class="btn-success btn table-button"> {{ 'Yes' }} </span>';
                            } else {
                                html = '<span class="btn-danger btn table-button">{{ 'No' }} </span>';
                            }
                        } else {
                            html = data.value;
                        }

                        return html;
                    }
                },
            ]
        });
    });
</script>