<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        {% if is_granted('IS_IMPERSONATOR') %}
            <span id="impersonated-text">Impersonated as {{ app.user.usernameCanonical }}</span>
            <a class="btn btn-primary" href="{{ impersonation_exit_path(path('homepage')) }}">Exit impersonation</a>
        {% endif %}
        <ul class="navbar-nav navbar-align">
            {% if app.user is not null %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <img src="{{ asset('assets/img/avatar.webp') }}" class="avatar img-fluid rounded me-1"
                             alt="Avatar"/>
                        <span class="text-dark">
                            {{ app.user.name }}
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{{ path('user_profile') }}">
                            <i class="fa-solid fa-user"></i>
                            {{ 'Profile' }}
                        </a>
                        <a class="dropdown-item" href="{{ path('logout') }}">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <span class="logout">{{ 'Logout' }}</span>
                        </a>
                    </div>
                </li>
            {% else %}
                <div style="margin-right: 10px;">
                    <a href="{{ path('register') }}"
                       class="btn btn-success">{{ 'Register' }}</a>
                </div>
                <div>
                    <a href="{{ path('login') }}"
                       class="btn btn-success">{{ 'Log in' }}</a>
                </div>
            {% endif %}
        </ul>
    </div>
</nav>