<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle js-sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            {% if app.user is not null %}
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                       data-bs-toggle="dropdown">
                        <i class="align-middle" data-feather="settings"></i>
                    </a>
                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                       data-bs-toggle="dropdown">
                        <span class="text-dark">{{ 'Zalogowany jako: ' ~ app.user.name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="{{ path('logout') }}">{{ 'Wyloguj' }}</a>
                    </div>
                </li>
            {% else %}
                <a href="{{ path('login') }}"
                   class="text-dark">{{ 'Zaloguj sie aby odblokować dostęp do pełnego systemu' }}</a>
            {% endif %}
        </ul>
    </div>
</nav>