{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'User Edit' }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-3">
                <div class="card">
                    <div class="card-body row">
                        {{ form_start(form) }}

                        {{ form_row(form.email) }}

                        {{ form_row(form.name) }}

                        <div class="col-lg-12 row mt-3 mb-3">
                            {{ form_label(form.roles) }}
                            {% for role in form.roles %}
                                <div class="col-lg-2 mt-3">
                                    {{ form_widget(role) }}
                                    <span>{{ form_label(role) }}</span>
                                </div>
                            {% endfor %}
                        </div>

                        {{ form_row(form.save) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}

{% endblock %}