{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'Users list' }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{{ 'Users list' }}</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body row">
                        <table id="datatable" class="display responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ 'Id' }}</th>
                                <th>{{ 'Username' }}</th>
                                <th>{{ 'Email' }}</th>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Roles' }}</th>
                                <th>{{ 'Actions' }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.userIdentifier }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>
                                        {% for role in user.roles %}
                                            <p> {{ role }} </p>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{{ path('user_edit', {'userId': user.id}) }}" class="btn-primary btn">
                                            {{ 'Edit' }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>
        $('#datatable').DataTable({
            responsive: true,
            stateSave: true,
            order: [
                0, 'desc'
            ]
        });
    </script>
{% endblock %}