{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'Weapons Edit' }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-1">{{ 'Edit' }}</h1>
                    </div>
                    <div class="card-body row">
                        {{ form_start(form) }}

                        {{ form_row(form.name) }}

                        {% if weaponType == 1 %}
                            {{ form_row(form.baseVersion) }}
                        {% endif %}

                        {{ form_row(form.type) }}
                        {{ form_row(form.isTool) }}
                        {{ form_row(form.isOpenMapWeapon) }}
                        {{ form_row(form.imageName) }}

                        {{ form_row(form.min) }}
                        {{ form_row(form.max) }}

                        {{ form_row(form.save) }}

                        {{ form_row(form._token) }}

                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}

{% endblock %}
