{% extends 'base.html.twig' %}

{% block title %}
    <title>
        {{ 'All weapons / tools list' }}
    </title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">
                            {{ 'Filters' }}
                        </h1>
                    </div>
                    <div class="card-body col-lg-12 row">
                        <div class="col-lg-3">
                            <label for="weaponType">{{ 'Weapon type' }}</label>
                            <select id="weaponType" class="form-control">
                                <option value="">{{ '-' }}</option>
                                <option value="0">{{ 'Regular' }}</option>
                                <option value="1">{{ 'Crafted' }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="tool">{{ 'Tool' }}</label>
                            <select id="tool" class="form-control">
                                <option value="">{{ '-' }}</option>
                                <option value="0">{{ 'No' }}</option>
                                <option value="1">{{ 'Yes' }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="openMap">{{ 'Open map weapon' }}</label>
                            <select id="openMap" class="form-control">
                                <option value="">{{ '-' }}</option>
                                <option value="0">{{ 'No' }}</option>
                                <option value="1">{{ 'Yes' }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-warning mt-4" id="clearFilters"
                                    style="float: right;">{{ 'Clear filters' }}</button>
                            <button class="btn btn-success mt-4" id="search"
                                    style="float: right; margin-right: 5px">{{ 'Search' }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">
                            {{ 'All weapons / tools list' }}
                        </h1>
                    </div>
                    <div class="card-body row">
                        <table id="weaponsList" class="display responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ 'Id' }}</th>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Base version' }}</th>
                                <th>{{ 'Type' }}</th>
                                <th>{{ 'Tool' }}</th>
                                <th>{{ 'Open map' }}</th>
                                <th>{{ 'Actions' }}</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let table = $('#weaponsList').DataTable({
                responsive: true,
                stateSave: true,
                serverSide: true,
                retrieve: true,
                paginate: true,
                searching: true,
                ajax: {
                    url: "{{ path('weapons_list_data') }}",
                    type: 'POST',
                    'data': function (d) {
                        return $.extend({}, d, {
                            "weaponType": getCookie('weaponType')[0],
                            "tool": getCookie('tool')[0],
                            "openMap": getCookie('openMap')[0],
                        });
                    },
                },
                columns: [
                    {
                        "data": "id",
                    },
                    {
                        "data": "name",
                        'render': function (data) {
                            let html = "";
                            html += "<img src='" + data.image + "' height='40px'>"
                            html += "<span style='margin-left:5px'>" + data.name + "</span>"

                            return html;
                        }
                    },
                    {
                        "data": "baseVersion",
                        'render': function (data) {
                            let html = '';

                            html += "<img src='" + data.image + "' height='40px'>"
                            html += "<span style='margin-left:5px'>" + data.name + "</span>"

                            return html;
                        }
                    },
                    {
                        "data": "type",
                        'render': function (data) {
                            let html = "";
                            html += '<div class="toggleSettings" data-weaponId="' + data.id + '">'

                            if (data.type === 0) {
                                html += '<span class="btn-primary btn" style="cursor: hand"> {{ 'Regular' }} </span>';
                            } else {
                                html += '<span class="btn-secondary btn" style="cursor: hand"> {{ 'Crafted' }} </span>';
                            }

                            html += "</div>";

                            return html;
                        }
                    },
                    {
                        "data": "isTool",
                        'render': function (data) {
                            let html = "";
                            html += '<div class="toggleSettings" data-weaponId="' + data.id + '">'

                            if (data.isTool) {
                                html += '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                            } else {
                                html += '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                            }

                            html += "</div>";

                            return html;
                        }
                    },
                    {
                        "data": "isOpenMapWeapon",
                        'render': function (data) {
                            let html = "";
                            html += '<div class="toggleSettings" data-weaponId="' + data.id + '">'

                            if (data.isOpenMapWeapon) {
                                html += '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                            } else {
                                html += '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                            }

                            html += "</div>";

                            return html;
                        }
                    },
                    {
                        "data": "actions",
                        'render': function (data) {
                            let html = "";
                            console.log(data);

                            if (data.edit) {
                                html += '<a class="btn-info btn" style="cursor: hand" href=' + data.edit + '> {{ 'Edit' }} </span>';
                            }

                            return html;
                        }
                    }
                ]
            });

            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                let cookie = unescape(parts.pop().split(';').shift());
                let strippedCookie = cookie.replace(/[\[\]"]+/g, '');
                const words = strippedCookie.split(',');
                let cookieArray = Array.from(words);
                return cookieArray;
            }

            function setDefaultOption(cookie, element) {
                const defaultOption = document.createElement('option');
                defaultOption.selected = true;
                defaultOption.disabled = true;
                defaultOption.hidden = true;
                defaultOption.value = "";
                defaultOption.innerText = getCookie(cookie);
                document.getElementById(element).prepend(defaultOption);
            }

            function setAllCookies(cookie1, name1, element, cookie2) {
                setCookie(cookie1, name1);
                let c = document.getElementById(element);
                let categoryName = c.options[c.selectedIndex].text;
                setCookie(cookie2, categoryName);
            }

            function setCookie(name, value) {
                document.cookie = name + '=' + value;
            }

            function removeCookie(name) {
                document.cookie = name + '=';
            }

            $('#weaponType').on('change', function () {
                setAllCookies('weaponType', $(this).val(), 'weaponType', 'weaponTypeName');
            });

            $('#tool').on('change', function () {
                setAllCookies('tool', $(this).val(), 'tool', 'toolName');
            });

            $('#openMap').on('change', function () {
                setAllCookies('openMap', $(this).val(), 'openMap', 'openMapName');
            });

            $('#clearFilters').on("click", function () {
                $('#weaponType').val(null).trigger('change');
                $('#tool').val(null).trigger('change');
                $('#openMap').val(null).trigger('change');
                removeCookie("weaponType");
                removeCookie("tool");
                removeCookie("openMap");
                window.location.reload();
            });

            $('#search').on("click", function () {
                table.draw();
            });

            $(document).ready(function () {
                if (getCookie('weaponType') != 'null' && getCookie('weaponType') != '') {
                    setDefaultOption('weaponTypeName', 'weaponType');
                }

                if (getCookie('tool') != 'null' && getCookie('tool') != '') {
                    setDefaultOption('toolName', 'tool');
                }

                if (getCookie('openMap') != 'null' && getCookie('openMap') != '') {
                    setDefaultOption('openMapName', 'openMap');
                }
            });
        });
    </script>
{% endblock %}
