{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'All weapons / tools list' }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{{ 'All weapons / tools list' }}</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body row">
                        <table id="example" class="display responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ 'Id' }}</th>
                                <th>{{ 'Icon' }}</th>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Type' }}</th>
                                <th>{{ 'Tool?' }}</th>
                                <th>{{ 'Open map?' }}</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ 'Actions' }}</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for weapon in weapons %}
                                <tr>
                                    <td>{{ weapon.id }}</td>
                                    <td>
                                        {% if weapon.imageName != '' %}
                                            <img src="{{ asset('images/weapons/' ~ weapon.imageName ~ '.png') }}" height='40px'>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ weapon.name }}
                                    </td>
                                    <td>
                                        {% if weapon.type == 0 %}
                                            <span class="btn-primary btn" style="cursor: default"> {{ 'Regular' }} </span>
                                        {% elseif weapon.type == 1 %}
                                            <span class="btn-secondary btn" style="cursor: default"> {{ 'Crafted' }} </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if weapon.isTool == 0 %}
                                            <span class="btn-danger btn" style="cursor: default">{{ 'No' }} </span>
                                        {% else %}
                                            <span class="btn-success btn" style="cursor: default"> {{ 'Yes' }} </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if weapon.isOpenMapWeapon == 0 %}
                                            <span class="btn-danger btn" style="cursor: default">{{ 'No' }} </span>
                                        {% else %}
                                            <span class="btn-success btn" style="cursor: default"> {{ 'Yes' }} </span>
                                        {% endif %}
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a href="{{ path('weapons_edit', {'weaponId': weapon.id}) }}"
                                               class="btn btn-primary">{{ 'Edit' }}</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>
        $('#example').DataTable({
            responsive: true
        });
    </script>
{% endblock %}