{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'All weapons / tools list' }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">{{ 'All weapons / tools list' }}</h1>
                    </div>
                    <div class="card-body row">
                        <table id="weaponsList" class="display responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ 'Id' }}</th>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Type' }}</th>
                                <th>{{ 'Tool?' }}</th>
                                <th>{{ 'Open map?' }}</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ 'Actions' }}</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for weapon in weapons %}
                                <tr>
                                    <td>
                                        {{ weapon.id }}
                                    </td>
                                    <td>
                                        {% if weapon.imageName != '' %}
                                            <img src="{{ asset('images/weapons/' ~ weapon.imageName ~ '.png') }}" height='40px'>
                                        {% endif %}
                                        {{ weapon.name }}
                                    </td>
                                    <td>
                                        <div class="toggleSettings" data-weaponId="{{ weapon.id }}" data-settingName="type">
                                            {% if weapon.type == 0 %}
                                                <span class="btn-primary btn" style="cursor: hand"> {{ 'Regular' }} </span>
                                            {% elseif weapon.type == 1 %}
                                                <span class="btn-secondary btn" style="cursor: hand"> {{ 'Crafted' }} </span>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="toggleSettings" data-weaponId="{{ weapon.id }}" data-settingName="tool">
                                            {% if weapon.isTool == 0 %}
                                                <span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>
                                            {% else %}
                                                <span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="toggleSettings" data-weaponId="{{ weapon.id }}" data-settingName="openMapWeapon">
                                            {% if weapon.isOpenMapWeapon == 0 %}
                                                <span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>
                                            {% else %}
                                                <span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a href="{{ path('weapons_edit', {'weaponId': weapon.id}) }}"
                                               class="btn btn-primary">{{ 'Edit' }}</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // @TODO: Change Datatable to ServerSideRendering.
            var table = $('#weaponsList').DataTable({
                responsive: true,
                stateSave: true,
            });

            {% if is_granted("ROLE_ADMIN") %}
            $('.toggleSettings').on('click', function () {
                let weaponId = $(this).data('weaponid');
                let settingName = $(this).data('settingname');

                let settings = {
                    'url': "{{ path('weapons_toggle_settings') }}",
                    'type': "POST",
                    'data': {
                        'weaponId': weaponId,
                        'settingName': settingName,
                    }
                }
                $.ajax(settings)
                    .done(function () {
                        window.location.reload();
                    });
            });
            {% endif %}

        });
    </script>
{% endblock %}