{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'All weapons / tools list' }}</title>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">{{ 'All weapons / tools list' }}</h1>
                    </div>
                    <div class="card-body row">
                        <table id="weaponsList" class="display responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ 'Id' }}</th>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Type' }}</th>
                                <th>{{ 'Tool?' }}</th>
                                <th>{{ 'Open map?' }}</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let table = $('#weaponsList').DataTable({
                responsive: true,
                stateSave: true,
                serverSide: true,
                retrieve: true,
                paginate: true,
                searching: false,
                ajax: {
                    url: "{{ path('weapons_list_data') }}",
                    type: 'POST'
                },
                columns: [
                    {
                        "data": "id",
                    },
                    {
                        "data": "name",
                        'render': function (data) {
                            let html = "";
                            html += "<img src='" + data.image + "' height='40px'>"
                            html += "<span style='margin-left:5px'>" + data.name + "</span>"

                            return html;
                        }
                    },
                    {
                        "data": "type",
                        'render': function (data) {
                            let html = "";
                            html += '<div class="toggleSettings" data-weaponId="' + data.id + '" data-settingName="type">'
                            if (data.type == 0) {
                                html += '<span class="btn-primary btn" style="cursor: hand"> {{ 'Regular' }} </span>';
                            } else {
                                html += '<span class="btn-secondary btn" style="cursor: hand"> {{ 'Crafted' }} </span>';
                            }
                            html += "</div>";

                            return html;
                        }
                    },
                    {
                        "data": "isTool",
                        'render': function (data) {
                            let html = "";
                            html += '<div class="toggleSettings" data-weaponId="' + data.id + '" data-settingName="tool">'
                            if (data.isTool) {
                                html += '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                            } else {
                                html += '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                            }
                            html += "</div>";

                            return html;
                        }
                    },
                    {
                        "data": "isOpenMapWeapon",
                        'render': function (data) {
                            let html = "";
                            html += '<div class="toggleSettings" data-weaponId="' + data.id + '" data-settingName="openMapWeapon">'
                            if (data.isOpenMapWeapon) {
                                html += '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                            } else {
                                html += '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                            }
                            html += "</div>";

                            return html;
                        }
                    }
                ]
            });

            {% if is_granted("ROLE_ADMIN") %}

            $(document).on('click', '.toggleSettings', function (e) {
                console.log('a');
                let weaponId = $(this).data('weaponid');
                let settingName = $(this).data('settingname');

                let settings = {
                    'url': "{{ path('weapons_toggle_settings') }}",
                    'type': "POST",
                    'data': {
                        'weaponId': weaponId,
                        'settingName': settingName,
                    }
                }
                $.ajax(settings)
                    .done(function () {
                        table.ajax.reload();
                    });
            });
            {% endif %}
        });
    </script>
{% endblock %}