{% extends 'base.html.twig' %}

{% block title %}
    <title>
        {{ 'All weapons / tools list' }}
    </title>
{% endblock %}

{% block styles %}
    {% include 'partials/_styles_datatable.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">
                            {{ 'Filters' }}
                        </h1>
                    </div>
                    <div class="card-body col-lg-12 row">
                        <div class="col-lg-3">
                            <label for="weaponType">{{ 'Weapon type' }}</label>
                            <select id="weaponType" class="form-control">
                                <option value="">{{ '-' }}</option>
                                <option value="0">{{ 'Regular' }}</option>
                                <option value="1">{{ 'Crafted' }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="tool">{{ 'Tool' }}</label>
                            <select id="tool" class="form-control">
                                <option value="">{{ '-' }}</option>
                                <option value="0">{{ 'No' }}</option>
                                <option value="1">{{ 'Yes' }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label for="openMap">{{ 'Open map weapon' }}</label>
                            <select id="openMap" class="form-control">
                                <option value="">{{ '-' }}</option>
                                <option value="0">{{ 'No' }}</option>
                                <option value="1">{{ 'Yes' }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-warning mt-4" id="clearFilters"
                                    style="float: right;">{{ 'Clear filters' }}</button>
                            <button class="btn btn-success mt-4" id="search"
                                    style="float: right; margin-right: 5px">{{ 'Search' }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">
                            {{ 'All weapons / tools list' }}
                        </h1>
                    </div>
                    <div class="card-body row">
                        <table id="weaponsList" class="display responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ 'Id' }}</th>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Base version' }}</th>
                                <th>{{ 'Draw quantity min.' }}</th>
                                <th>{{ 'Draw quantity max.' }}</th>
                                <th>{{ 'Delay min.' }}</th>
                                <th>{{ 'Delay max.' }}</th>
                                <th>{{ 'Type' }}</th>
                                <th>{{ 'Tool' }}</th>
                                <th>{{ 'Open map' }}</th>
                                <th>{{ 'Super weapon' }}</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ 'Actions' }}</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    {{ include('pages/weapons/datatable/list.html.twig') }}
    {{ include('pages/weapons/filters.html.twig') }}
{% endblock %}
