{% extends 'base.html.twig' %}

{% block title %}
    <title>
        {{ 'Armoury' }}
    </title>
{% endblock %}

{% block styles %}
    {% include 'partials/_styles_datatable.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body col-lg-12 row">
                        {{ include('pages/weapons/partials/filters.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body row">
                        <table id="weaponsList" class="display responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ 'Id' }}</th>
                                <th>{{ 'Name' }}</th>
                                <th>{{ 'Base' }}</th>
                                <th>{{ 'Draw min.' }}</th>
                                <th>{{ 'Draw max.' }}</th>
                                <th>{{ 'Delay min.' }}</th>
                                <th>{{ 'Delay max.' }}</th>
                                <th>{{ 'Type' }}</th>
                                <th>{{ 'Tool' }}</th>
                                <th>{{ 'Open map' }}</th>
                                <th>{{ 'Super weapon' }}</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>{{ 'Actions' }}</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    {{ include('pages/weapons/datatable/list.html.twig') }}
    {{ include('pages/weapons/partials/filters-scripts.html.twig') }}
{% endblock %}
