{% extends 'base.html.twig' %}

{% block title %}
    <title>
        {{ 'User log list' }}
    </title>
{% endblock %}

{% block styles %}
    {% include 'partials/_styles_datatable.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">
                            {{ 'Weapon log list' }}
                        </h1>
                    </div>
                    <div class="card-body row">
                        <table id="weaponLogsList" class="display responsive nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>{{ 'Id' }}</th>
                                <th>{{ 'User' }}</th>
                                <th>{{ 'Weapon' }}</th>
                                <th>{{ 'Created At' }}</th>
                                <th>{{ 'Type' }}</th>
                                <th>{{ 'Old Value' }}</th>
                                <th>{{ 'New Value' }}</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/js/dataTables.responsive.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#weaponLogsList').DataTable({
                responsive: true,
                stateSave: true,
                serverSide: true,
                retrieve: true,
                paginate: true,
                searching: true,
                order: [
                    0, 'desc'
                ],
                ajax: {
                    url: "{{ path('weapons_logs_data') }}",
                    type: 'POST'
                },
                columns: [
                    {
                        "data": "id",
                    },
                    {
                        "data": "username",
                    },
                    {
                        "data": "weapon",
                        'render': function (data) {
                            let html = "";
                            html += "<img alt='" + data.name + "' src='" + data.image + "' height='40px'>"
                            html += "<span style='margin-left:5px'>" + data.name + "</span>"

                            return html;
                        }
                    },
                    {
                        "data": "createdAt",
                    },
                    {
                        "data": "type",
                    },
                    {
                        "data": "oldValue",
                        'render': function (data) {
                            if (data.type == 'type') {
                                if (data.value == 0) {
                                    html = '<span class="btn-primary btn" style="cursor: hand"> {{ 'Regular' }} </span>';
                                } else {
                                    html = '<span class="btn-secondary btn" style="cursor: hand"> {{ 'Crafted' }} </span>';
                                }
                            } else if (data.type == 'isTool' || data.type == 'isOpenMapWeapon') {
                                if (data.value == 1) {
                                    html = '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                                } else {
                                    html = '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                                }
                            } else {
                                html = data.value;
                            }

                            return html;
                        }
                    },
                    {
                        "data": "newValue",
                        'render': function (data) {
                            if (data.type == 'type') {
                                if (data.value == 0) {
                                    html = '<span class="btn-primary btn" style="cursor: hand"> {{ 'Regular' }} </span>';
                                } else {
                                    html = '<span class="btn-secondary btn" style="cursor: hand"> {{ 'Crafted' }} </span>';
                                }
                            } else if (data.type == 'isTool' || data.type == 'isOpenMapWeapon') {
                                if (data.value == 1) {
                                    html = '<span class="btn-success btn" style="cursor: hand"> {{ 'Yes' }} </span>';
                                } else {
                                    html = '<span class="btn-danger btn" style="cursor: hand">{{ 'No' }} </span>';
                                }
                            } else {
                                html = data.value;
                            }

                            return html;
                        }
                    },
                ]
            });
        });
    </script>
{% endblock %}
