{% extends 'base.html.twig' %}

{% block title %}
    <title>
        {{ 'Random Weapons Drawing' }}
    </title>
{% endblock %}

{% block content %}
    <div class="card row col-lg-4 offset-lg-4">
        <div class="card-header text-center">
            <h3>{{ 'Random Weapons Drawing' }}</h3>
        </div>
        <div class="card-body row">
            <div>
                <div class="row text-center">
                    <div class="col-lg-6">
                        <div class="range">
                            <label class="form-label">
                                <span id="normalWeaponsCountCurrent" class="btn btn-success">
                                    3
                                </span>
                            </label>
                            <input type="range" id="normalWeaponsCount" class="form-range" min="1" max="12"
                                   value="3">
                        </div>
                        <label for="normalWeaponsCount">
                            {{ "Regular weapons / tools count" }}
                        </label>
                    </div>

                    <div class="col-lg-6">
                        <div class="range">
                            <label class="form-label">
                                <span id="craftedWeaponsCountCurrent" class="btn btn-success">
                                    3
                                </span>
                            </label>
                            <input type="range" id="craftedWeaponsCount" class="form-range" min="1" max="12"
                                   value="3">
                        </div>
                        <label for="craftedWeaponsCount">
                            {{ "Crafted weapons / tools count" }}
                        </label>
                    </div>
                </div>

                <div class="row mt-3">
                    <p>
                        {{ 'Additions' }}
                    </p>
                    <div class="col-lg-12 row">
                        <div class="col-lg-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="includeTools">
                                <label class="form-check-label" for="includeTools">
                                    {{ "Tools" }}
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="includeOpenMapWeapons" checked>
                                <label for="includeOpenMapWeapons">
                                    {{ "Open map weapons" }}
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="includeSentryGuns">
                                <label for="includeSentryGuns">
                                    {{ "Sentry guns" }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <p>
                        {{ 'Options' }}
                    </p>
                    <div class="col-lg-12 row mb-2">
                        <div class="col-lg-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="randomizeCount" checked>
                                <label for="randomizeCount">
                                    {{ "Rand. weapons count" }}
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="randomizeDelay">
                                <label for="randomizeDelay">
                                    {{ "Rand. weapons delay" }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 text-center">
                    <button type="button" id="rollButton" class="btn btn-success">
                        {{ 'Draw' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-lg-6 offset-lg-3">
            <div class="card-header">
                <h2 style="font-weight: 600" id="regularWeaponsHeader">
                    {{ 'Regular' }}
                </h2>
            </div>
            <div class="card-body row" id="normalWeapons"></div>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-lg-6 offset-lg-3">
            <div class="card-header">
                <h2 style="font-weight: 600" id="craftedWeaponsHeader">
                    {{ 'Crafted' }}
                </h2>
            </div>
            <div class="card-body row" id="craftedWeapons"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>

        function createWeaponEntry(weapon, parent) {
            let html = "";
            html += "<div class='col-lg-4 mb-3' style='text-align: left'>";
            html += "<img width='35px' src='" + weapon.image + "'>";
            html += "<span style='margin-left:5px; font-size:15px'>" + weapon.name + "</span><br>";

            if (weapon.count == 10) {
                html += " Count: (" + '∞' + ")";
            } else {
                html += " Count: (" + weapon.count + ")";
            }

            if (weapon.delay > 0) {
                html += " Delay: [" + weapon.delay + "]";
            } else if (weapon.delay == 0) {
                html += " Delay: [" + 0 + "]";
            }

            html += "</div>";

            parent.append(html);
        }

        const events = ['change']

        $.each(events, function (k, v) {
            $('#craftedWeaponsCount').on(v, function () {
                $('#craftedWeaponsCountCurrent').text($('#craftedWeaponsCount').val());
            });
        })

        $.each(events, function (k, v) {
            $('#normalWeaponsCount').on(v, function () {
                $('#normalWeaponsCountCurrent').text($('#normalWeaponsCount').val());
            });
        })

        $('body').on('click', '#rollButton', function () {
            let countNormal = $('#normalWeaponsCount').val();
            let countCrafted = $('#craftedWeaponsCount').val();
            let includeTools = $('#includeTools').is(":checked");
            let includeOpenMapWeapons = $('#includeOpenMapWeapons').is(":checked");
            let includeSentryGuns = $('#includeSentryGuns').is(":checked");
            let randomizeCount = $('#randomizeCount').is(":checked");
            let randomizeDelay = $('#randomizeDelay').is(":checked");

            let settings = {
                'url': "{{ path('weapons_random_get') }}",
                'type': "POST",
                'data': {
                    'countNormal': countNormal,
                    'countCrafted': countCrafted,
                    'includeTools': includeTools,
                    'includeOpenMapWeapons': includeOpenMapWeapons,
                    'includeSentryGuns': includeSentryGuns,
                    'randomizeCount': randomizeCount,
                    'randomizeDelay': randomizeDelay
                }
            }
            $.ajax(settings)
                .done(function (response) {
                    let normalWeaponsEl = $('#normalWeapons');
                    let craftedWeaponsEl = $('#craftedWeapons');

                    craftedWeaponsEl.empty();
                    normalWeaponsEl.empty();

                    let craftedWeapons = response.craftedWeapons;
                    let normalWeapons = response.normalWeapons;

                    $.each(craftedWeapons, function (i, l) {
                        createWeaponEntry(l, craftedWeaponsEl);
                    });

                    $.each(normalWeapons, function (i, l) {
                        createWeaponEntry(l, normalWeaponsEl);
                    });
                });
        });
    </script>
{% endblock %}
