{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ 'Random Weapons Drawing' }}</title>
{% endblock %}

{% block content %}
    <div class="card row col-lg-4 offset-lg-4">
        <div class="card-header text-center">
            <h3>{{ 'Random Weapons Drawing' }}</h3>
        </div>
        <div class="card-body row">
            <div>
                <div class="row text-center">
                    <div class="col-lg-6">
                        <div class="range">
                            <label class="form-label">
                                <span id="normalWeaponsCountCurrent" class="btn btn-success">
                                    1
                                </span>
                            </label>
                            <input type="range" id="normalWeaponsCount" class="form-range" min="1" max="12"
                                   value="1">
                        </div>
                        <label for="normalWeaponsCount">
                            {{ "Regular weapons / tools count" }}
                        </label>
                    </div>

                    <div class="col-lg-6">
                        <div class="range">
                            <label class="form-label">
                                <span id="craftedWeaponsCountCurrent" class="btn btn-success">
                                    1
                                </span>
                            </label>
                            <input type="range" id="craftedWeaponsCount" class="form-range" min="1" max="12"
                                   value="1">
                        </div>
                        <label for="craftedWeaponsCount">
                            {{ "Crafted weapons / tools count" }}
                        </label>
                    </div>
                </div>

                <div class="row mt-4 text-center">
                    <p>
                        {{ 'Additional options' }}
                    </p>
                    <div class="col-lg-6">
                        <p>
                            <input type="checkbox" id="includeTools">
                            <label for="includeTools">
                                {{ "Include tools in drawing" }}
                            </label>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <input type="checkbox" id="includeOpenMapWeapons">
                            <label for="includeOpenMapWeapons">
                                {{ "Include open map weapons in drawing" }}
                            </label>
                        </p>
                    </div>
                </div>
                <div class="mt-2 text-center">
                    <button type="button" id="rollButton" class="btn btn-success">
                        {{ 'Draw' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-lg-6 offset-lg-3">
            <div class="card-header">
                <h2 style="font-weight: 600" id="regularWeaponsHeader">
                    {{ 'Regular weapons & tools' }}
                </h2>
            </div>
            <div class="card-body row" id="normalWeapons"></div>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-lg-6 offset-lg-3">
            <div class="card-header">
                <h2 style="font-weight: 600" id="craftedWeaponsHeader">
                    {{ 'Crafted weapons & tools' }}
                </h2>
            </div>
            <div class="card-body row" id="craftedWeapons"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>

        function createWeaponEntry(weapon, parent) {
            let html = "";
            html += "<div class='col-lg-4 mb-1' style='text-align: left'>";
            html += "<img width='35px' src='" + weapon.image + "'>";
            html += "<span style='margin-left:5px; font-size:15px'>" + weapon.name + "</span>";
            html += "</div>";

            parent.append(html);
        }

        const events = ['change']

        $.each(events, function (k, v) {
            $('#craftedWeaponsCount').on(v, function () {
                $('#craftedWeaponsCountCurrent').text($('#craftedWeaponsCount').val());
            });
        })

        $.each(events, function (k, v) {
            $('#normalWeaponsCount').on(v, function () {
                $('#normalWeaponsCountCurrent').text($('#normalWeaponsCount').val());
            });
        })

        $('body').on('click', '#rollButton', function () {
            let countNormal = $('#normalWeaponsCount').val();
            let countCrafted = $('#craftedWeaponsCount').val();
            let includeTools = $('#includeTools').is(":checked");
            let includeOpenMapWeapons = $('#includeOpenMapWeapons').is(":checked");

            if (includeTools) {
                $('#craftedWeaponsHeader').text('Crafted weapons & tools');
                $('#regularWeaponsHeader').text('Regular weapons & tools');
            } else {
                $('#craftedWeaponsHeader').text('Crafted weapons');
                $('#regularWeaponsHeader').text('Regular weapons');
            }

            let settings = {
                'url': "{{ path('weapons_random_get') }}",
                'type': "POST",
                'data': {
                    'countNormal': countNormal,
                    'countCrafted': countCrafted,
                    'includeTools': includeTools,
                    'includeOpenMapWeapons': includeOpenMapWeapons
                }
            }
            $.ajax(settings)
                .done(function (response) {
                    let normalWeaponsEl = $('#normalWeapons');
                    let craftedWeaponsEl = $('#craftedWeapons');

                    craftedWeaponsEl.empty();
                    normalWeaponsEl.empty();

                    let craftedWeapons = response.craftedWeapons;
                    let normalWeapons = response.normalWeapons;

                    $.each(craftedWeapons, function (i, l) {
                        createWeaponEntry(l, craftedWeaponsEl);
                    });

                    $.each(normalWeapons, function (i, l) {
                        createWeaponEntry(l, normalWeaponsEl);
                    });
                });
        });
    </script>
{% endblock %}